*{display: inline-block;}

#pizza{width: 800px;
height: 700px;margin-left: 700px;
border-radius: 60%;
padding-top: 0.1px;}

#logo{border-radius: 50%;background-color: aquamarine;height: 100px;
width: 100px;margin-right: 700px;}
h1{font-size: 50px;
margin-left: 200px;}
p{margin-left: 200px;
font-size: xx-large;}
#getstarted{background-color: green;color: white;
  height: 40px;
}
input{height: 35px;
  margin-left: 200px;
}
h2{color: rgb(255, 94, 0); margin-left: 200px; }
#pone{position: absolute;
}
#explore{background-color: green;color: white;
  height: 40px; 
}
#ptwo{
  position: absolute;
  margin-left: 400px;
}
#menu{background-color: bisque; }

#Pocket{background-color: bisque ;}
#Best{background-color: bisque ;}
#small{font-size: small;}